.shop-box {
  background: #060606;
  opacity: 0.93;
  border-radius: 0 0 1rem 1rem;
  padding: 1.875rem 1.75rem;
  color: white;
}

.shop-box-wrapper {
  position: absolute;
  top: 5rem;
  right: 5rem;

  width: 32.75rem;
  height: 33.5rem;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms;
}

.shop-open {
  pointer-events: all;
  opacity: 1;
}

.shop-box-item-list {
  margin: 1.875rem 0;
  background: #212121;
  border-radius: 5px;
  height: 7.125rem;
  overflow: hidden scroll;
  padding: 0.5rem;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #171717;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: #171717;
    border-radius: 14.7059px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 14.7059px;
  }

  table {
    width: 100%;
    border-spacing: 0;
  }
}

.shop-box-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.shop-box-payment {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 0.5rem);
  width: 100%;
  margin-right: 1rem;
}

.shop-box-order {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 0.5rem);
  width: 100%;

  background: #e5e5e5;
  border-radius: 0.3125rem;

  hr {
    margin: 0;
  }
}

.shop-box-order-headline {
  font-family: "Yellowtail", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1;
  margin: 0;
  text-align: center;
  padding: 0.5rem 0 0.625rem;
  color: #000000;
}

.shop-box-order-info {
  font-family: "Yellowtail", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  color: #000000;
}
